
h1 {
    font-family: verdana, arial;
  }
  label{
    font-family: verdana, arial;
  }
  body{
    margin: 20px;
  }
  refreshPage{
    position:relative;
  }
  input[type = checkbox] {
    transform: scale(3.5);
    position: relative;
    left: 40px;
    bottom: 7px;

}
